<a href="/admin/{{client_id}}"><i class="fa fa-chevron-left fa-lg icon pull-left" style="color: #2199e8"></i></a>

<br />
<br />
<h4 style="color: darkslategray">Add Task For Client No. {{client_id}}</h4>
<h6>{{errors}}</h6>

<form method="post" action="/admin/add/{{client_id}}"
      enctype="multipart/form-data">
    <div class="form-group">
        <label>Date Performed</label>
        <input type="date" class="form-control" name="date" value="{{date}}">
    </div>
    <div class="form-group">
        <label>Project Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{title}}">
    </div>
    <div class="form-group">
        <label>Task</label>
        <input type="text" class="form-control" name="task" placeholder="Task" value="{{task}}">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" placeholder="Description">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label>Hours</label>
        <input type="number" min="1" step="0.01" class="form-control" name="hours" placeholder="Hours in increments of 15 minutes" value="{{hours}}">
    </div>
    <div class="form-group">
        <label>Rate</label>
        <input type="number" min="1" step="0.01" class="form-control" name="rate" placeholder="Hourly Rate" value="{{rate}}">
    </div>
    <div class="form-group">
        <label>Notes</label>
        <textarea class="form-control" name="notes" placeholder="Notes">{{notes}}</textarea>
    </div>

    <button type="submit" class="button hollow"><strong>Submit</strong></button>
</form>