<a class="button secondary" href="/admin/{{project.client_id}}">Go Back</a>
<h3>Edit Project</h3>
<!--displays values in the form-->
<form method="post" action="/admin/edit/{{project.project_id}}" enctype="multipart/form-data">
    <div class="form-group">
        <label>Project Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{project.project_title}}">
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" value="{{project.date}}" name="projectdate">
    </div>
    <div class="form-group">
        <label>Task</label>
        <input type="text" class="form-control" name="task" value="{{project.task}}" placeholder="Task">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description">{{project.description}}</textarea>
    </div>
    <div class="form-group">
        <label>Hours</label>
        <input type="text" class="form-control" name="hours" placeholder="Hours" value="{{project.hours}}">
    </div>
    <div class="form-group">
        <label>Hourly Rate</label>
        <input type="text" class="form-control" name="rate" value="{{project.rate}}" placeholder="Rate$">
    </div>
    <div class="form-group">
        <label>Notes</label>
        <textarea class="form-control" name="notes">{{project.notes}}</textarea>
    </div>
    <div class="form-group">
        <label>Image</label>
        <!--<img class="small-img" src="/images/portfolio/{{project.image}}" />-->
        <input type="file" class="form-control" name="projectimage" value="{{project.attachments}}">
    </div>
    <button type="submit" class="button">Submit</button>
</form>

<td>
    <a href="/admin/delete/{{project.project_id}}" data-id="{{project.project_id}}" class="button alert delete-project">Delete</a>
</td>