<!--/admin view is this index file-->

    {{#if projects}}
<div>
    <a href="/admin/add/{{client_id}}" class="button success hollow"><i class="fi-plus"></i></a>
    <table class="table-expand">
        <thead>
            <tr class="table-expand-row">
                <th width="150">Client ID</th>
                <th width="150">Project</th>
                <th width="125">Date</th>
                <th width="125">Task</th>
                <th width="250">Description of Work</th>
                <th class="text-right" width="150">Hours</th>
                <th class="text-right" width="150">Hrly Rate</th>
                <th class="text-right" width="150">Extended Amount</th>
                <th width="10" class="fi-list-bullet"></th>
            </tr>
        </thead>
        {{#each projects}}
        <tbody>
            <tr class="table-expand-row" data-open-details>
                <td>{{client_id}}</td>
                <td>{{project_title}}</td>
                <td>{{date}}</td>
                <td>{{task}}</td>
                <td>{{description}}</td>
                <td class="text-right">{{hours}}</td>
                <td class="text-right">${{rate}}</td>
                <td class="text-right">${{ext_amt}}</td>
                <td><span class="expand-icon"></span></td>

            </tr>
            <tr class="table-expand-row-content">
                <td colspan="9" class="table-expand-row-nested">
                    <p>{{notes}}</p>
                </td>
                <td>
                    <a href="/admin/edit/{{project_id}}" class="fi-page-edit"></a>
                </td>    
            </tr>
        </tbody>
        {{/each}}
        
    </table>
    {{else}}
    <a class="button secondary" href="/">Go Back</a>
    <h4 style="color: black">No projects yet entered for this Client.</h4>
    <a href="/admin/add/{{client_id}}" class="button success hollow"><i class="fi-plus"></i></a>
    {{/if}}
</div>



